<header class="site-header">

    <div class="branding">

        <a href="/" class="logo">
            <img src="/src/assets/images/logo-novo.png" alt="Conferência de Templo e História da Família" loading="eager" decoding="async" />

        </a>

        <div class="site-title">
            <h2>Conferência de Templo e História da Família</h2>
            <p>Estaca Taguatinga 2026</p>
        </div>

    </div>

    <button id="menu-button" class="menu-button" aria-label="Abrir Menu">
        ☰
    </button>
    
    <nav id="main-nav">
    
        <ul class="nav-links">
    
            <li>
                <a href="/" data-page="home">Home</a>
            </li>
    
            <li>
                <a href="/src/pages/jovens.html" data-page="jovens">
                    Jovens
                </a>
            </li>
    
            <li>
                <a href="/src/pages/pais.html" data-page="Pais ou Responsáveis">
                    Pais
                </a>
            </li>
    
            <li>
                <a href="/src/pages/lideres.html" data-page="lideres">
                    Líderes
                </a>
            </li>
    
        </ul>
    
    </nav>
    
    </header>